	<div id="footer">
		<div class="container">		
			<div class="row">
				<span class="span10" id="footer_links">
					<ul class="unstyled">
						<li><a href="#">Help</a></li>
						<li><a href="#">Contacts</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Advertising</a></li>
						<li><a href="#">Affiliates</a></li>
						<li><a href="#">Fashion news</a></li>
						<li><%= link_to(content_tag(:i, nil, class: 'fa fa-facebook-square fa-3x'), products_path) %></li>
						<li><%= link_to(content_tag(:i, nil, class: 'fa fa-google-plus-square fa-3x'), products_path) %></li>
						<li><%= link_to(content_tag(:i, nil, class: 'fa fa-twitter-square fa-3x'), products_path) %></li>
					</ul>
				</span>
			</div>
		</div>
	</div>