	<div id="footer">
		<div class="container">		
			<div class="row">
				<span class="span10" id="footer_links">
					<ul class="unstyled">
						<li><a>About me</a></li>
						<li><%= link_to(content_tag(:i, nil, class: 'fa fa-facebook-square fa-3x'), "https://www.facebook.com/CzScholar") %></li>
						<li><%= link_to(content_tag(:i, nil, class: 'fa fa-linkedin-square fa-3x'), "https://www.linkedin.com/in/poyuan-huang-439a7310a?trk=hp-identity-name") %></li>
						<li><%= link_to(content_tag(:i, nil, class: 'fa fa-github-square fa-3x'), "https://github.com/SusanPoYuan/") %></li>
					</ul>
				</span>
			</div>
		</div>
	</div>